:host
{
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    max-height: 88vh;
}

.imgcontainer
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    overflow: scroll;
}

.sidebar
{
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 10px;
}

.side_top
{
    display: grid;
    grid-template-rows: 6fr 5fr;
    gap: 10px;
}

.dragon_profile
{
    height: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 10px;
    max-height: 40vh;
}

.dragon_description
{
    overflow: scroll;
}

form > div
{
    display: grid;
    grid-template-rows: auto auto;
}

// .rate
// {
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
// }

// .rate > *
// {
//     padding: 1rem;
//     text-align: center;
// } 