<div class="imgcontainer">
    <div *ngFor="let dragon of dragonsArr"class="imgcard" (click)="displayInfo(dragon)">
        <p>{{dragon.name}}</p>
        <img #dragon src='{{dragon.imgURL}}' alt="" style="width: 200px;" >
        <p class="viewinfo">View Info</p>
    </div>
</div>

<div class="sidebar">
    <div class="side_top">
        <div class="dragon_profile">
            <span class="dragon_name">{{chosenDragon.name}}</span>
            <span class="dragon_franchise">Franchise: {{chosenDragon.franchise}}</span>
            <span class="dragon_description">{{chosenDragon.description}}</span>
        </div>

        <form #dragonForm="ngForm" (ngSubmit)="onSubmit(dragonForm)" ngNativeValidate>
            <div class="rent_type">
                <label for="rent_type">Please choose a rent type:</label>
                <select name="rent_type" id="rent_type" [(ngModel)]="rent_type" required>
                    <option value=""></option>
                    <option class="rate" *ngFor="let tuple of rent_type_list; index as i" [value]="tuple[1]">
                        <span>
                            {{tuple[0]}}
                        </span>
                        <span>
                            ${{chosenDragon.rates[i]}}
                        </span>
                    </option>
                </select>
            </div>

            <div class="start_date">
                <label for="rent_type">Please choose a start date:</label>
                <input type="date" name="start_date" id="start_date" [(ngModel)]="start_date">
            </div>

            <div class="rent_length">
                <label for="rent_type">Please choose the number of {{rent_type}}:</label>
                <input type="number" name="rent_length" id="rent_length" [(ngModel)]="rent_length">
            </div>

            <div class="add_dragon">
                <button type="submit">Add to cart</button>
            </div>
        </form>
    </div>

    <div class="side_bottom">
        <a routerLink="../checkout">
            Checkout and Rent Dragons!
        </a>
    </div>
</div>
