:host
{
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
}

header
{
    display: flex;
    justify-content:start;
    background-color:rgb(1, 48, 28);
}
a{
    color: white;
    size: 20px;
}

a:hover{
    color: grey;
}

a:visited{
    color:gold
}
