<div class="top">
    <span class="title">
        Helpful Dragons: Let Us Help You!
    </span>
    <span class="about">
        Helpful Dragons offers a wide range of powerful, wise, and of course helpful dragons that you can rent to help you in a number of ways!
    </span>
</div>

<div class="bottom">
    <div class="carousel">
        <div class="prev" (click)="changeSlide(-1)">
            <div class="left_arrow">
                Previous
            </div>
        </div>

        <div class="dynamic_slide">
            <span class="heading">
                Review Title
                {{review.title}}
            </span>

            <span class="review">
                Review Content: long text here and here and here and here and here and here and here
                {{review.text}}
            </span>
        </div>

        <div class="next" (click)="changeSlide(1)">
            <div class="right_arrow">
                next
            </div>
        </div>
    </div>
</div>